html {
  box-sizing: border-box;
}

*,::before,::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

*:hover,
*:focus {
  outline: none;
  transition: color .3s ease;
  transition: background-color 0.3s ease;
}

.visually-hidden {
  border: 0;
  clip: rect(0000);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main-header {
  background-color: #f4f7f9;
  color: #ffffff;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  min-height: 320px;
}

.main-bar {
  background-color: #293449;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 46px;
}

.wrapper-main-bar {
  align-items: center;
  display: flex;
  height: 42px;
  margin: 0 auto;
  width: 940px;
}

.main-header-logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
  height: 52px;
  position: relative;
  text-align: center;
  width: 220px;
  }

.main-header-logo img {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.logo-interactive:hover,
.logo-interactive:focus {
  background-color: #ca2c37;
  outline: none;
}

.logo-interactive:active {
  background-color: #ba2732;
  outline: none;
}

.search-form-button {
  background-color: #293449;
  border: none;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
  padding: 12px 18px 12px 49px;
  width: 270px;
}

.search-form {
  position: relative;
}

.search-form::before {
  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 17px;
  left: 17px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  width: 17px;
}

.search-form-button::-webkit-input-placeholder,
.search-form-button::-moz-placeholder,
.search-form-button:-ms-input-placeholder {
  color: #ffffff;
}

.marks {
  padding: 12px 28px 12px 44px;
  position: relative;
  width: 150px;
}

.marks-count,
.cart-count {
  padding-left: 3px;
}

.marks::before {
  background-image: url(../img/icon-bookmark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 16px;
  left: 17px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  width: 14px;
}

.marks:hover::before,
.marks:focus::before {
  opacity: 1;
}

.marks:active::before {
  opacity: 0.5;
}

.cart,
.cart-catalog {
  padding: 12px 31px 12px 50px;
  position: relative;
  width: 150px;
}

.cart-catalog {
  background-color: #ee3643;
}

.cart::before,
.cart-catalog::before {
  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 15px;
  left: 17px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  width: 15px;
}

.order-button {
  background-color: #63a63e;
  padding: 12px 22px 12px 20px;
  width: 150px;
}

.cart:hover::before,
.cart-catalog:hover::before,
.cart:focus::before,
.cart-catalog:focus::before {
  opacity: 1;
}

.cart:active::before,
.cart-catalog:active::before {
  opacity: 0.5;
}

.cart-catalog:hover,
.cart-catalog:focus {
  background-color: #ca2c37;
  outline: none;
}

.cart-catalog:active {
  background-color: #ba2732;
  outline: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #5fbb2d;
  outline: none;
}

.order-button:active {
  background-color: #518534;
  color: rgba(255,255,255,0.5);
  outline: none;
}

.main-information {
  margin-bottom: 34px;
}

.wrapper-main-information {
  display: flex;
  margin: 0 auto;
  width: 940px;
}

.main-information p {
  color: #ee3643;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.main-contacts p {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.about {
  font-style: italic;
  margin: 0;
  margin-left: 53px;
  margin-top: 5px;
  padding: 0;
  padding-right: 9px;
  width: 196px;
}

.information-phone {
  border: 3px solid white;
  color: #ee3643;
  display: block;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 71px;
  padding-bottom: 8px;
  padding-left: 72px;
  padding-right: 43px;
  padding-top: 10px;
  position: relative;
  width: 270px;
}

.information-phone::before {
  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 19px;
  left: 12px;
  position: absolute;
  top: 10px;
  width: 19px;
}

.information-addres {
  font-style: normal;
  margin: 0;
  margin-left: 71px;
  padding: 5px 8px 5px 10px;
}

.user-navigation {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 69px;
  padding: 0;
  width: 281px;
}

.user-navigation a {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  background-color: #ffffff;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-top: 10px;
}

.sign-in-button a {
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 25px;
  padding-top: 13px;
}

.sign-in-button svg {
  margin-right: 10px;
}

.sign-in-button:hover path,
.sign-in-button:focus path {
  fill: #32425c;
  outline: none;
}

.sign-in-button a:hover,
.sign-in-button a:focus {
  color: #ee3643;
  outline: none;
  transition: none;
}

.sign-in-button a:active {
  color: rgba(0,0,0,0.3);
  outline: none;
  transition: none;
}

.sign-up-button a {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
}

.sign-up-button a:hover,
.sign-up-button a:focus {
  color: #ee3643;
  outline: none;
}

.sign-up-button a:active {
  color: rgba(0,0,0,0.3);
  outline: none;
}

.sign-in-button:active path {
  fill: rgba(0,0,0,0.3);
  outline: none;
}

.search-form-button:hover,
.marks:hover,
.cart:hover,
.search-form-button:focus,
.marks:focus,
.cart:focus {
  background-color: #212a3a;
  outline: none;
}

.marks:active,
.cart:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
  outline: none;
}

.search-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

input[type=search]::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

.profile-user {
  margin-left: 51px;
}

.profile-name {
  background-color: #ffffff;
  color: #000000;
  display: block;
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-right: 67px;
  padding-top: 12px;
  position: relative;
  width: 299px;
}

.profile-name::before {
  background-image: url(../img/icon-user.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 18px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 20px;
}

.profile-name::after {
  background-image: url(../img/icon-logout.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  height: 18px;
  left: 269px;
  position: absolute;
  top: 13px;
  width: 20px;
}

.profile-navigation {
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.profile-user ul {
  margin: 0;
  padding: 0;
}

.my-order a {
  display: block;
  line-height: 14px;
  margin-left: 18px;
  margin-right: 14px;
  margin-top: 9px;
  position: relative;
}

.my-order a:after {
  background-color: #32425c;
  border-radius: 2px;
  content: "";
  height: 4px;
  left: 89px;
  position: absolute;
  top: 6px;
  width: 4px;
}

.account a {
  display: block;
  line-height: 14px;
  margin-left: 17px;
  margin-right: 18px;
  margin-top: 9px;
}

.profile-navigation a {
  border-bottom: 1.5px solid #32425c;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  transition: 300ms;
}

.profile-navigation a:hover,
.profile-navigation a:focus {
  border-bottom: 1.5px solid #ee3643;
  color: #ee3643;
  outline: none;
}

.profile-navigation a:active {
  border-bottom: 1.5px solid rgba(50,66,92,0.3);
  color: rgba(50,66,92,0.3);
  outline: none;
}

.profile-name:active {
  color: rgba(0,0,0,0.3);
  outline: none;
}

.navigation-list {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: 400;
  justify-content: center;
  line-height: 17px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 940px;
}

.navigation-list a {
  display: block;
  padding-bottom: 22px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 18px;
  text-align: center;
  vertical-align: middle;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
  outline: none;
}

.navigation-list a:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
  outline: none;
}

.user-navigation,
.navigation-list,
.profile-navigation {
  list-style: none;
}

.navigation-list a,
.main-bar a {
  color: #ffffff;
}

.company-information {
  display: flex;
  font-size: 13px;
  line-height: 24px;
  margin: 0 auto;
  width: 940px;
}

.company-description {
  margin-right: 120px;
  margin-top: 82px;
}

.company-contacts {
  margin-top: 82px;
}

.wrapper-company {
  margin-top: 25px;
}

.contacts-map {
  margin-bottom: 35px;
  margin-top: 30px;
}

.company-information h2 {
  color: #000000;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery-list {
  color: #000000;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0;
}

.delivery-list li {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 5px;
}

.delivery-list li:before {
  background-color: #ee3643;
  content: "";
  display: inline-block;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 11px;
  width: 24px;
}

ul .delivery-item-2 {
  padding-bottom: 14px;
}

.btn {
  background-color: #ee3643;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.company-information-button {
  margin-top: 5px;
  padding: 10px 40px;
  width: 220px;
}

.company-contacts-button {
  padding: 11px 60px;
  width: 300px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
  outline: none;
  transition: background-color .3s ease;
}

.btn:focus {
  background-color: #ba2732;
  outline: none;
  transition: background-color .3s ease;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: flex-start;
  line-height: 18px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 23px;
  padding-top: 20px;
  text-transform: uppercase;
  width: 940px;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs li {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs li::after {
  background-image: url(../img/icon-right-small.svg);
  content: "";
  height: 12px;
  position: absolute;
  right: -25px;
  top: 3px;
  width: 8px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.catalog-heading {
  background-color: #f2f6f8;
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-top: 28px;
  text-transform: uppercase;
  width: 940px;
}

.filters {
  margin-right: 20px;
  text-transform: uppercase;
  width: 220px;
}

.filter fieldset {
  border: none;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
}

.filter legend {
  margin-bottom: 15px;
}

.filter .field-brands {
  border-bottom: solid 1px #e5e5e5;
}

.filter-option label {
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;
}

.filter-input-checkbox + label::before {
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 23px;
  left: -35px;
  position: absolute;
  top: 0;
  width: 23px;
}

.filter-input-checkbox:checked + label::after {
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 23px;
  left: -35px;
  position: absolute;
  top: 0;
  width: 27px;
}

.filter-input-radio + label::before {
  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 25px;
  left: -35px;
  position: absolute;
  top: -3px;
  width: 25px;
}

.filter-input-radio:checked + label::after {
  background-image: url(../img/radio-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 25px;
  left: -35px;
  position: absolute;
  top: -3px;
  width: 25px;
}

.brands {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.plugs-type {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: .17px;
  line-height: 30px;
}

.filter ul {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-input:disabled + label {
  color: rgba(0,0,0,0.4);
}

.button {
  margin: 37px 80px;
  padding: 10px 200px;
  width: 460px;
}

.filter-button {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-top: 40px;
  outline: none;
  padding: 9px 40px;
  text-transform: uppercase;
  width: 140px;
}

.filter-button:hover,
.filter-button:focus {
  border: solid 1px #bdc6ca;
  outline: none;
  transition: border .3s ease;
}

.filter-button:active {
  border: solid 1px #ee3643;
  outline: none;
  transition: border .3s ease;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 700px;
}

.catalog-item {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 220px;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
  outline: none;
}

.buy-button {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  padding: 10px 3px;
  text-transform: uppercase;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  outline: none;
  transition: background-color .3s ease;
}

.buy-button:active {
  background-color: #518534;
  outline: none;
  transition: background-color .3s ease;
}

.bookmark-button {
  border: solid 3px #63a63e;
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  padding: 7px 0;
  text-transform: uppercase;
}

.bookmark-button:hover,
.bookmark-button:focus {
  border: solid 3px #32425c;
  outline: none;
  transition: border .3s ease;
}

.bookmark-button:active {
  border: solid 3px #32425c;
  opacity: 0.3;
  transition: opacity .3s ease;
}

.catalog-title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 40px;
  padding: 0 25px;
}

.catalog-item-price {
  background: #ee3643;
  background-color: #ee3643;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  margin-bottom: 21px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 0;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 10px;
  position: relative;
  width: 140px;
}

.catalog-item-price-old {
  color: #999999;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
  min-height: 20px;
  text-decoration: line-through;
}

.wrapper-main-catalog {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 940px;
}

.flag {
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: -1px;
  text-indent: -1000px;
  top: -1px;
  width: 60px;
  z-index: 10;
}

.flag-new {
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.item-actions {
  background-color: #ffffff;
  height: 164px;
  left: 0;
  padding: 40px 0;
  position: absolute;
  top: 0;
  width: 218px;
  z-index: 10;
}

.buy-button,
.bookmark-button {
  background-color: #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  display: block;
  font-family: Cuprum, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 auto;
  margin-bottom: 7px;
  text-decoration: none;
  text-transform: uppercase;
  width: 129px;
}

.bookmark-button {
  background: white;
  border-bottom-color: #63a63e;
  color: #32425c;
}

.catalog-item .item-actions {
  display: none;
}

.catalog-item:hover .item-actions {
  display: block;
}

.catalog-item-image {
  height: 168px;
  margin: 0;
  width: 218px;
}

.catalog-item-image img {
  max-width: 100%;
}

.catalog-item-price:after {
  border: 19px solid white;
  border-left-color: #ee3643;
  content: "";
  height: 0;
  position: absolute;
  right: -20px;
  top: 0;
  width: 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer-logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
  height: 68px;
  position: relative;
  text-align: center;
  width: 220px;
}

.main-footer {
  background-color: #32425c;
  font-family: Cuprum;
  margin-top: 84px;
}

.main-footer p {
  color: #f1f5f7;
}

.footer-top li,
.footer-bottom li {
  list-style: none;
}

.footer-top {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
}

.footer-navigation a {
  border-bottom: 1.5px solid transparent;
  color: #f1f5f7;
  transition: 300ms;
}

.footer-links a {
  border-bottom: 1.5px solid transparent;
  color: #ffd180;
  transition: 300ms;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  border-color: #f1f5f7;
  outline: none;
}

.footer-links a:hover,
.footer-links a:focus {
  border-color: #ffd180;
  outline: none;
}

.footer-top li:active {
  opacity: 0.5;
  outline: none;
  transition: opacity .3s ease;
}

.social-button {
  align-items: center;
  background-color: #212a3a;
  border-radius: 22px;
  color: #ffffff;
  display: flex;
  height: 42px;
  justify-content: center;
  width: 42px;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
  outline: none;
  transition: background-color .3s ease;
}

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer-mail-button,
.footer-developer-button {
  border-bottom: 1.5px solid transparent;
  color: #ffd180;
  transition: 300ms;
}

.footer-mail-button:hover,
.footer-developer-button:hover,
.footer-mail-button:focus,
.footer-developer-button:focus {
  border-color: #ffd180;
  outline: none;
}

.footer-mail-button:active,
.footer-developer-button:active {
  color: #ee3643;
  border-color: #ee3643;
  outline: none;
  transition: color .3s ease;
}

.wrapper-center {
  margin: 0 auto;
  width: 940px;
}

.wrapper-footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 37px;
  padding: 0;
  width: 550px;
}

.main-footer-logo img {
  display: inline-block;
  left: 50%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.wrap-footer-top {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  padding-left: 2px;
}

.wrapper-connection p {
  margin: 0;
  padding: 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 525px;
}

.wrapper-center-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 940px;
}

.footer-copyright {
  margin: 0;
  margin-bottom: 35px;
  margin-top: 37px;
  padding: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  margin-left: 43px;
  margin-top: 37px;
  padding: 0;
  width: 133px;
}

.wrapper-connection {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  margin-right: 15px;
  margin-top: 37px;
  padding: 0;
  width: 285px;
}

.footer-navigation a,
.footer-links a {
  display: block;
  line-height: 15px;
  margin-top: 5px;
}

.footer-mail a,
.footer-developer a {
  display: block;
  line-height: 14px;
  margin-top: 6px;
}

.modal {
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
  color: #000000;
  position: fixed;
}

.modal-communication {
  border-top: 7px solid #ff5257;
  left: 25%;
  top: 10%;
  width: 620px;
  z-index: 15;
}

.modal-close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 22px;
  position: absolute;
  right: -33px;
  top: 10px;
  width: 22px;
}

.modal-close::before,
.modal-close::after {
  background-color: #ee3643;
  content: "";
  height: 4px;
  left: -43px;
  position: absolute;
  top: 8px;
  width: 27px;
}

.modal-close::before {
 transform: rotate(45deg);
}

.modal-close::after {
 transform: rotate(-45deg);
}

.communication-item label {
 padding-bottom: 12px;
}

.modal-communication-top p {
 margin: 0;
 margin-bottom: 10px;
}

.communication-form input[type="text"],
.communication-form input[type="email"] {
  border: 2px solid #dee3e4;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  padding: 5px 10px;
  padding-right: 40px;
  width: 220px;
}

.communication-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.modal-wrapper .communication-item {
  width: 220px;
}

.modal-communication-top p,
.modal-wrapper p {
  margin: 0;
  padding: 0;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.communication-text {
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  min-height: 113px;
  resize: none;
  width: 100%;
}

.modal-communication-top {
  padding: 45px 80px;
  padding-bottom: 37px;
}

.modal-communication-bottom {
  background-color: #f4f4f4;
}



.modal-communication-top input:hover,
.modal-communication-top input:focus {
  border-color: #b5b5b5;
  transition: border-color .3s ease;
}

.modal-communication-top input:active,
.modal-communication-top input:active {
  border-color: #ee3643;
  transition: border-color .3s ease;
}

.modal-map {
  height: 446px;
  left: 50%;
  margin-left: -465px;
  margin-top: -225px;
  top: 50%;
  width: 940px;
  z-index: 15;
}

.modal-map p {
  margin: 0;
  padding: 0;
}

.modal-item-added {
  border-top: 7px solid #ff5257;

  height: 282px;
  left: 50%;
  margin-left: -310px;
  margin-top: -150px;
  top: 50%;
  width: 620px;
  z-index: 15;
}

.item-added-top h2 {
  font-family: Cuprum;
  font-size: 30px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-bottom: 68px;
  padding-left: 180px;
  padding-right: 120px;
  padding-top: 64px;
  position: relative;
}

.item-added-top h2::before {
  background-image: url(../img/icon-mark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 66px;
  left: 80px;
  position: absolute;
  top: 45px;
  width: 66px;
}

.item-added-bottom {
  background-color: #f4f4f4;
  padding-bottom: 37px;
  padding-left: 78px;
  padding-right: 75px;
  padding-top: 37px;
}

.checkout {
  margin-right: 20px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  width: 220px;
}

.сontinue-shopping {
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 43px;
  padding-top: 14px;
  text-transform: uppercase;
  width: 220px;
}

.modal {
  display: none;
}