html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff;  
}

a {
  text-decoration: none;
}

/*Стилизация header главной страницы*/

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  min-height: 320px;
  background-color: #f4f7f9;
}

.main-bar {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.search-form-button {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #293449;
  border: none;
  outline: none;
  width: 270px;
  padding: 12px 18px 12px 49px;
}

.search-form {
  position: relative;

}

.search-form::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 17px;
  height: 17px;
  
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.search-form-button::-webkit-input-placeholder,
.search-form-button::-moz-placeholder,
.search-form-button:-ms-input-placeholder {
  color: #ffffff;
}

.user-navigation,
.navigation-item,
.profile-navigation {
  list-style: none;
}

.navigation-item a,
.main-bar a {
  color: #ffffff;
}

.user-navigation a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;

  background-color: #ffffff;
}

.main-information p {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}

.main-contacts p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.navigation-item {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.order-button {
  width: 150px;
  background-color: #63a63e;
  padding: 12px 22px 12px 20px;
}

.main-header-logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

*:hover,
*:focus {
   transition: background-color 0.3s ease;
   transition: color 0.3s ease;
   outline: none;
}

.search-form-button:hover,
.marks:hover,
.cart:hover,
.search-form-button:focus,
.marks:focus,
.cart:focus {
  background-color: #212a3a;
  outline: none;
}

.marks:active,
.cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.search-form input:focus {
  color:#000000;
  background-color: #ffffff;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

input[type=search]::-ms-clear {
  display: none; width : 0; height: 0;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
  outline: none;
}

.main-header-logo:active {
  background-color: #ba2732;
  outline: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #5fbb2d;
  outline: none;
}

.order-button:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
  outline: none;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.navigation-item a:hover,
.navigation-item a:focus {
  background-color: #293449;
  outline: none;
}

.navigation-item a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}

/*Стилизация header страницы каталога*/

.profile-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  transition: 300ms;
  border-bottom: 1.5px solid #32425c;
}

.cart-catalog {
  background-color: #ee3643;	
}

.profile-navigation a:hover,
.profile-navigation a:focus {
  color: #ee3643;
  border-bottom: 1.5px solid #ee3643;
  outline: none;
}

.profile-navigation a:active {
  color: rgba(50, 66, 92, 0.3);
  border-bottom: 1.5px solid rgba(50, 66, 92, 0.3);
  outline: none;
}

.cart-catalog:hover,
.cart-catalog:focus {
  background-color: #ca2c37;
  outline: none;
}

.cart-catalog:active {
  background-color: #ba2732;
  outline: none;
}

.profile-name:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Стилизация модальных форм*/

.modal {
  position: fixed;
  
  color: #000000;

  background-color: #ffffff;

  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

/*Стилизация первой модальной формы*/

.modal-communication {
  top: 10%;
  left: 25%;
  width: 620px;

  z-index: 15;
  border-top: 7px solid #ff5257;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: -33px;
  
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -43px;

  width: 27px;
  height: 4px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.communication-item label {
  padding-bottom: 12px;
}

.modal-communication-top p {
  margin: 0;
  margin-bottom: 10px;

}

.communication-form input[type="text"],
.communication-form input[type="email"] {
  box-sizing: border-box;
  width: 220px;
  padding: 5px 10px;
  padding-right: 40px;
  
  color: #000000;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 4px;
}

.communication-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.modal-wrapper .communication-item {
  width: 220px;
}

.modal-communication-top p,
.modal-wrapper p {
  margin: 0;
  padding: 0;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.communication-text {
  width: 100%;
  min-height: 113px;
  border: 2px solid #dee3e4;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  resize: none;
}

.modal-communication-top {
  padding: 45px 80px;
  padding-bottom: 37px;

}

.modal-communication-bottom {
  background-color: #f4f4f4;
}

.button {
  width: 460px;
  margin: 37px 80px;
  padding: 10px 200px;
}

.modal-communication-top input:hover,
.modal-communication-top input:focus {
  border-color: #b5b5b5;
  transition: border-color 0.3s ease;
}

.modal-communication-top input:active,
.modal-communication-top input:active {
  border-color: #ee3643;
  transition: border-color 0.3s ease;
}

/*Временно скрываем модальную форму*/

.modal-communication {
  display: none;
}

/*Стилизация второй модальной формы*/

.modal-map {
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;

  margin-top: -225px;
  margin-left: -465px;

  z-index: 15;
}

.modal-map p {
  margin: 0;
  padding: 0;
}

/*Временно скрываем модальную форму*/

.modal-map {
  display: none;
}

/*Стилизация модального окна в каталоге*/

.modal-item-added {
  top: 50%;
  left: 50%;

  width: 620px;
  height: 282px;

  margin-top: -150px;
  margin-left: -310px;

  z-index: 15;

  border-top: 7px solid #ff5257;
}

.item-added-top h2 {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  padding-right: 120px;
  padding-bottom: 68px;
  padding-left: 180px;

  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.item-added-top h2::before {
  content: "";
  position: absolute;
  left: 80px;
  top: 45px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-added-bottom {
  background-color: #f4f4f4;
  padding-top: 37px;
  padding-right: 75px;
  padding-bottom: 37px;
  padding-left: 78px;
}

.checkout {
  width: 220px;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px;
  margin-right: 20px;
}

.сontinue-shopping {
  width: 220px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 43px;
  padding-bottom: 12px;
  padding-left: 40px;
  border: none;
  background-color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

/*Временно скрываем модальную форму*/

.modal-item-added {
  display: none;
}

/*Стилизация секции информации о компании на главной странице */

.company-information {
  font-size: 13px;
  line-height: 24px;
}

.company-information h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.delivery-list {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  list-style-type: none;
  margin-bottom: 10px;
}

.delivery-list li {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 20px;

}

.delivery-list li:before {
  
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: #ee3643;
  margin-bottom: 5px;
  content: ""; /* Сам маркер */
  margin-right: 11px; 
   }

ul .delivery-item-2 {
  padding-bottom: 14px;
}

.btn {
  display: inline-block;
  
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
}

.company-information-button {
  margin-top: 5px;
  padding: 10px 40px;
  width: 220px;
}

.company-contacts-button {
  width: 300px;
  padding: 11px 60px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
  transition: background-color 0.3s ease;
  outline: none;
}

.btn:focus {
  background-color: #ba2732;
  transition: background-color 0.3s ease;
  outline: none;
}

/*Стилизация содержимого каталога */

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 23px;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 3px;
  right: -25px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.catalog-heading {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;

  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 28px;
  padding-left: 28px;
  padding-bottom: 30px;
}

.filters {
  text-transform: uppercase;
  width: 220px;
  margin-right: 20px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.filter legend {
  margin-bottom: 15px;
}

.filter .field-brands {
  border-bottom: solid 1px #e5e5e5;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -35px;

  width: 27px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.brands {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.plugs-type {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.17px;
}

.filter ul {
  margin: 0;
  font-size: 15px;
  list-style: none;
  line-height: 20px;
  padding: 0;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4)
}

.filter-button {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  outline: none;
  margin-top: 40px;
  padding: 9px 40px;
  width: 140px;
}

.filter-button:hover,
.filter-button:focus {
  border: solid 1px #bdc6ca;
  transition: border 0.3s ease;
  outline: none;
}

.filter-button:active {
  border: solid 1px #ee3643;
  transition: border 0.3s ease;
  outline: none;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
  
}

/*Стилизация карточек товаров */

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  outline: none;
}

.buy-button {
  font-family: Cuprum;
  font-size: 14px; 
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  outline: none;
  padding: 10px 3px;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  transition: background-color 0.3s ease;
  outline: none;
}

.buy-button:active {
  background-color: #518534;
  transition: background-color 0.3s ease;
  outline: none;
}

.bookmark-button {
  font-family: Cuprum;
  font-size: 14px; 
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  border: solid 3px #63a63e;
  outline: none;
  padding: 7px 0;
}

.bookmark-button:hover,
.bookmark-button:focus {
  border: solid 3px #32425c;
  transition: border 0.3s ease;
  outline: none;
}

.bookmark-button:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  transition: opacity 0.3s ease;
}

.catalog-title {
  font-size: 18px; 
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.catalog-item-price {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-item-price-old {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: normal;
  color: #999999;
  text-decoration: line-through;
}

/*Базовая стилизация футера*/

.main-footer-logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-footer {
  font-family: Cuprum;
  background-color: #32425c;
}

.main-footer p {
  color: #f1f5f7;
}

.footer-top li,
.footer-bottom li {
  list-style: none;
}

.footer-top {
  font-size: 18px; 
  line-height: 24px;
}

.footer-navigation a {
  transition: 300ms;
  border-bottom: 1.5px solid transparent;
  color: #f1f5f7;
}

.footer-links a {
  transition: 300ms;
  border-bottom: 1.5px solid transparent;
  color: #ffd180;
}


.footer-navigation a:hover,
.footer-navigation a:focus {
  border-color: #f1f5f7;
  outline: none;
}

.footer-links a:hover,
.footer-links a:focus {
  border-color: #ffd180;
  outline: none;
}

.footer-top li:active {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  outline: none;
}

.social-button {
  color: #ffffff;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
  transition: background-color 0.3s ease;
  outline: none;
}
  
.footer-bottom {
  font-size: 16px;
  line-height: 18px;
}

.footer-mail-button,
.footer-developer-button {
  color: #ffd180;
  transition: 300ms;
  border-bottom: 1.5px solid transparent;
}

.footer-mail-button:hover,
.footer-developer-button:hover,
.footer-mail-button:focus,
.footer-developer-button:focus {
  border-color: #ffd180;
  outline: none;
}

.footer-mail-button:active,
.footer-developer-button:active {
  color: #ee3643;
  transition: color 0.3s ease;
  outline: none;
}

/*Строим сетку*/

.main-bar {
  margin-bottom: 46px;
}

.wrapper-main-bar {
  display: flex;
  align-items: center;
  height: 42px;
  width: 940px;
  margin: 0 auto;
}

.main-header-logo {
  position: relative;
  text-align: center;
  width: 220px;
  height: 52px;
  
}

.main-header-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
}

.marks {
  position: relative;
  width: 150px;
  padding: 12px 28px 12px 44px;
}

.marks-count,
.cart-count {
  padding-left: 3px;
}

.marks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 14px;
  height: 16px;
  
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.marks:hover::before,
.marks:focus::before {
  opacity: 1;
}

.marks:active::before {
  opacity: 0.5;
}

.cart,
.cart-catalog {
  width: 150px;
  position: relative;
  padding: 12px 31px 12px 50px;
}

.cart::before,
.cart-catalog::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 15px;
  height: 15px;
  
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.cart:hover::before,
.cart-catalog:hover::before,
.cart:focus::before,
.cart-catalog:focus::before {
  opacity: 1;
}

.cart:active::before,
.cart-catalog:active::before {
  opacity: 0.5;
}

.main-information {
  margin-bottom: 34px;
}

.wrapper-main-information {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.about {
  margin: 0;
  padding: 0;
  margin-left: 53px;
  margin-top: 5px;
  padding-right: 9px; 
  width: 196px;
  font-style: italic
}


.information-phone {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 72px;
  padding-bottom: 8px;
  padding-right: 43px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  width: 270px;
  border: 3px solid white;
  margin-left: 71px;
  font-style: normal;
}

.information-phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;
  
  width: 19px;
  height: 19px;
  
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.information-addres {
  margin: 0px;
  padding: 5px 8px 5px 10px;
  margin-left: 71px;
  font-style: normal;
}

.user-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 69px;
}

.sign-in-button {
  position: relative;
  display: block;
  padding-top: 14px;
  padding-right: 26px;
  padding-bottom: 11px;
  padding-left: 47px;
}

.sign-in-button::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 14px;
  
  width: 20px;
  height: 17px;
  
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sign-up-button {
  display: block;
  margin-left: 10px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
}

.navigation-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  width: 940px;
  min-height: 60px;
  margin: 0 auto;
  padding: 0;
  padding: 20px 30px;
  vertical-align: middle;
/*  margin-bottom: 30px;*/
}

.navigation-item a {
  text-align: center;
  padding: 21px 30px;
  vertical-align: middle;
}

.profile-user {
  margin-left: 51px;
}

.profile-name {
  position: relative;
  display: block;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  padding-top: 12px;
  padding-right: 67px;
  padding-bottom: 12px;
  padding-left: 45px;
  width: 299px;
}

.profile-name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 14px;
  
  width: 20px;
  height: 18px;
  
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.profile-name::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 269px;
  
  width: 20px;
  height: 18px;
  
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}


.profile-navigation {
  display: flex;
}

.profile-user ul {
  margin: 0;
  padding: 0;
}

.my-order a {
  display: block;
  margin-top: 9px;
  margin-right: 14px;
  margin-left: 18px;
  line-height: 14px;
}

.dot {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 2px;
  margin-top: 14px;
}

.account a {
  display: block;
  margin-top: 9px;
  margin-left: 14px;
  margin-right: 18px;
  line-height: 14px;
}

.profile-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.company-information {
  display: flex;
  width: 940px;
  margin: 0 auto;
/*  margin-bottom: 84px;*/
}

.company-description {
  margin-top: 82px;
  margin-right: 120px;
}

.company-contacts {
  margin-top: 82px;
}

.wrapper-company {
  margin-top: 25px;
}

.contacts-map {
  margin-top: 30px;
  margin-bottom: 35px;
}

.wrapper-main-catalog {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 25px;

}

.catalog-list {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
/*  display: inline-block;*/
  width: 220px;
  margin: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  text-align: center; 
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.item-actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 164px;
  padding: 40px 0;
  
  background-color: #ffffff;
  z-index: 10;
}

.buy-button,
.bookmark-button {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  
  background-color: #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.bookmark-button {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .item-actions {
  display: none;
}

.catalog-item:hover .item-actions {
  display: block;
}

.catalog-item-image {
  width: 218px;
  height: 168px;
  margin: 0;
}

.catalog-item-image img {
  max-width: 100%;
}

.catalog-title {
  margin: 0;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 10px;    
}

.catalog-item-price-old {
  margin: 0;
  min-height: 20px;
  margin-bottom: 10px;
}

.catalog-item-price {
  margin: 0;
  padding: 0;
  position: relative;
  width: 140px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  padding-right: 37px;
  margin-bottom: 21px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 20px;

  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item-price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer {
  margin-top: 84px;
}

.wrapper-center {
  width: 940px;
  margin: 0 auto;
}

.wrapper-footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding: 0;
  margin: 0;
  margin-top: 37px;
}

.main-footer-logo {
  position: relative;
  text-align: center;
  width: 220px;
  height: 68px;
}

.main-footer-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  margin-top: -5px;
}

.wrap-footer-top {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-contacts p {
  padding: 0;
  margin: 0;
  padding-left: 2px;
}

.wrapper-connection p {
  padding: 0;
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  width: 525px;

}

.footer-top {
  margin-bottom: 50px;
}

.footer-bottom {
 background-color: #293449;
}

.wrapper-center-bottom {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  margin-top: 37px;
  margin-bottom: 35px;
}

.footer-social {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 35px;
  margin-left: 43px;
  width: 133px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-connection {
  display: flex;
  justify-content: space-between;
  width: 285px;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 35px;
  margin-right: 15px;
}

.social-button {
  display: flex;
align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 22px;
}
